doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") home 
      a(href="/login") login 
      a(href="/register") register 
      
    block content
